class URI(object):
    def __init__(self, host, port, protocol='http://'):
        self.host = host
        self.port = port
        self.protocol = protocol

    def __str__(self):
        return self.protocol + self.host + ":" + str(self.port)

class DB(URI):
    def __init__(self, host, port, username, password):
        super().__init__(host, port, "")
        self.username = username
        self.password = password

    def __str__(self):
        return super().__str__()

class Config:
    debug = True

    googlemaps_key = ""

    mongodb  = DB("0.0.0.0", 4000, "", "")

    projetox9 = URI("0.0.0.0", 5000)
    FakeSiga  = URI("0.0.0.0", 3000)

    frontend_max_len = 15

    bool_translation = {True:"Sim", False:"Não"}

    manager_N_last_occurrences = 40
    current_occurrences_range_minutes = 10

    months_translation = {"01":"Janeiro", 
                          "02":"Fevereiro",
                          "03":"Março",
                          "04":"Abril",
                          "05":"Maio",
                          "06":"Junho",
                          "07":"Julho",
                          "08":"Agosto",
                          "09":"Setembro",
                          "10":"Outubro",
                          "11":"Novembro",
                          "12":"Dezembro"}

    short_month_len = 3
