#content h1 {
    text-align: center;
}

#content form > div > input {
    width: 50%;
}

#content form > div > p {
    width: 40%;
    display: inline-block;
}

#content form > div > input.button {
    width: 50%;
    margin: 0 25%;
}

#map {
    height: 450px;
    margin-bottom: 15px;
}
