#content h1 {
    text-align: center;
}

#content form > div > input {
    width: 45%;
}

#messagebox {
    width: 50%;
    margin: 5% auto;
    font-size: 16px;
    background-color:#ccc;
    padding: 20px;
    text-align: center;
}

#content #map {
    height: 450px;
    margin-bottom: 15px;
}

#content .error {
    margin: 11px -5px;
    float: right;
    width: 29px;
    height: 29px;
    background-image: url("../img/error.png");
    background-size: contain;
}
