{% extends 'menu.html' %}
{% block header %}
<title>Gráficos</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel='stylesheet' type='text/css' href='static/css/charts.css'>

{% endblock %}

{% block menu %}
{% if logged %}
<li><a href="/">Cadastrar ocorrência</a></li>
<li><a href="/manage">Administrar</a></li>
<li class='menu_right'><a href="/logout">Logout</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="by_status" class='chart'></div>
<div id="by_types" class='chart'></div>
<div id="by_types_by_status" class='chart'></div>
<div id="timeline_by_types" class='chart'></div>
<div id="status_timeline" class='chart'></div>
<script>
google.charts.load('current', {packages: ['corechart']});
google.charts.setOnLoadCallback(draw);

function draw() {
    // occurrences_by_status
    var status_list = JSON.parse('{{(status_list | json) | safe}}'),
        types = JSON.parse('{{(types | json) | safe}}'),
        by_status = JSON.parse('{{(occurrences_by_status | json) | safe}}'),
        by_status_list = [["",""]], // key, value
        data,
        chart,
        options = {
            title: "Status das ocorrências",
            legend: {position:"none"},
        };

    for (var i=0; i<status_list.length;++i)
        by_status_list.push([status_list[i], by_status[status_list[i]]]);

    if (by_status_list.length > 1) {
        data = google.visualization.arrayToDataTable(by_status_list);

        chart = new google.visualization.ColumnChart(document.getElementById("by_status"));
        chart.draw(data,options);
    } else {
        document.getElementById("by_status").className = "hide";
    }

    // occurrences_by_types
    var by_types = JSON.parse('{{(occurrences_by_types | json) | safe}}'),
        by_types_list = [["",""]]; // key, value

    for (var i=0; i<types.length;++i)
        by_types_list.push([types[i],by_types[types[i]]]);

    options.title = "Tipos de ocorrências";

    if (by_types_list.length > 1) {
        data = google.visualization.arrayToDataTable(by_types_list);

        chart = new google.visualization.ColumnChart(document.getElementById("by_types"));
        chart.draw(data,options);
    } else {
        document.getElementById("by_types").className = "hide";
    }

    // occurrences_by_types_by_status
    var by_types_by_status = JSON.parse('{{(occurrences_by_types_by_status | json) | safe}}'),
        by_types_by_status_list = [["#"].concat(status_list)];

    for (var i=0; i<types.length;++i) {
        var t = types[i],
            n = by_types_by_status[t] || {},
            l = [t];

        for (var x=0; x<status_list.length;++x)
            l.push(n[status_list[x]] || 0);
        by_types_by_status_list.push(l);
    }

    options.title = "Tipos de ocorrência por status";
    options.legend = {position:'top'};

    if (by_types_by_status_list.length > 1) { 
        data = google.visualization.arrayToDataTable(by_types_by_status_list);

        chart = new google.visualization.ColumnChart(document.getElementById("by_types_by_status"));
        chart.draw(data,options);
    } else {
        document.getElementById("by_types_by_status").className = "hide";
    }

    // timeline_by_types
    var timeline_by_types = JSON.parse('{{(occurrences_timeline_by_types | json) | safe}}'),
        months = Object.keys(timeline_by_types),
        timeline_list = [["#"].concat(types)];

    for (var i=0; i<months.length;++i) {
        var m = months[i],
            t = timeline_by_types[m],
            l = [m];
        for (var x=0;x<types.length;++x)
            l.push(timeline_by_types[m][types[x]] || 0);
        timeline_list.push(l);
    }

    options.title = "Ocorrências por tipo ao longo dos meses";
    if (timeline_list.length > 1) {
        data = google.visualization.arrayToDataTable(timeline_list);

        chart = new google.visualization.LineChart(document.getElementById("timeline_by_types"));
        chart.draw(data,options);
    } else {
        document.getElementById("timeline_by_types").className = "hide";
    }

    // status_timeline
    var status_timeline = JSON.parse('{{(status_timeline | json) | safe}}'),
        months = Object.keys(status_timeline),
        status_timeline_list = [["#"].concat(status_list)];

    for (var i=0; i<months.length;++i) {
        var m = months[i],
            t = status_timeline[m],
            l = [m];
        for (var x=0;x<status_list.length;++x)
            l.push(status_timeline[m][status_list[x]] || 0);
        status_timeline_list.push(l);
    }
    
    options.title = "Status ao longo dos meses";
    if (status_timeline_list.length > 1) {
        data = google.visualization.arrayToDataTable(status_timeline_list);

        chart = new google.visualization.LineChart(document.getElementById("status_timeline"));
        chart.draw(data,options);
    } else {
        document.getElementById("status_timeline").className = "hide";
    }
}
</script>
{% endblock %}
