{% extends 'menu.html' %}
{% block header %}
<title>Cadastrar ocorrência</title>
<link rel='stylesheet' type='text/css' href='static/css/form.css'>
<link rel='stylesheet' type='text/css' href='static/css/create-occurrence.css'>
<script src="static/js/flatpickr.min.js"></script>
<script src="static/js/utils.js"></script>
<script src="static/js/create-occurrence.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googlemaps_autocomplete_key}}&libraries=places&callback=init_map" async defer></script>
<link rel="stylesheet" type='text/css' href="static/css/flatpickr.min.css">
{% endblock %}

{% block content %}
<form id='check' action='/occurrence' method='GET'>
    <h1>Checar status de ocorrência</h1>
    <div>
        <p>CPF</p>
        <input class='CPF' name='CPF' type='text'>
    </div>
    <div>
        <p>Protocolo</p>
        <input name='protocol' type='text' maxlength="10">
    </div>
    <div>
        <input type='submit' value='Procurar' class='button'>
    </div>
</form>

<form id='register' action='/occurrence' method="POST">
    <h1>Registrar ocorrência</h1>
    <div>
        <p>CPF</p>
        <input class='CPF' name='CPF' type='text'>
        <div class='error {% if not error or not error["CPF"] %}hide{% endif %}'></div>
    </div>
    <div>
        <p>Ocorrência</p>
        <input id='occurrence' name='occurrence' type='text'>
        <div class='error {% if not error or not error["occurrence"] %}hide{% endif %}'></div>
    </div>
    <div>
        <p>Data da ocorrência</p>
        <input id='date' name='date' class='flatpickr' placeholder="Selecione a data" type='text'>
        <div class='error {% if not error or not error["date"] %}hide{% endif %}'></div>
    </div>
    <div>
        <p>Descrição (opcional)</p>
        <input name='description' type='text'>
    </div>
    <div>
        <p>Local</p>
        <input id='location-input' name='location' type='text' placeholder="Selecione o local">
        <div class='error {% if not error or (not error["location"] and not error["lat"] and not error["lng"] and not error["place_name"]) %}hide{% endif %}'></div>
        <input id='lat' name='lat' type='text' class='hide'>
        <input id='lng' name='lng' type='text' class='hide'>
        <input id='place_name' name='place_name' type='text' class='hide'>
        <div id="map"></div>
    </div>
    <div>
        <input type='submit' value='Cadastrar' class='button'>
    </div>
</form>
{% endblock %}
