{% extends 'menu.html' %}
{% block header %}
<title>Cadastrar ocorrência</title>
<link rel='stylesheet' type='text/css' href='static/css/form.css'>
<link rel='stylesheet' type='text/css' href='static/css/create-occurrence.css'>
{% endblock %}

{% block content %}
<form action='/' method="POST">
    <div>
        <p>CPF</p>
        <input name='CPF' type='text'>
    </div>
    <div>
        <p>Ocorrência</p>
        <input name='occurrence' type='text'>
    </div>
    <div>
        <p>Data da ocorrência</p>
        <input name='date' type='text'>
    </div>
    <div>
        <p>Descrição</p>
        <input name='description' type='text'>
    </div>
    <div>
        <input type='submit' value='Cadastrar' class='button'>
    </div>
</form>
{% endblock %}
