{% extends 'menu.html' %}
{% block header %}
<link rel='stylesheet' type='text/css' href='static/css/manage.css'>
<script src="static/js/manage.js"></script>
<script>
    {% for oc in occurrences %}
        window.markers_location.push(["{{oc.location.lat}}", "{{oc.location.lng}}"]);
    {% endfor %}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googlemaps_key}}&libraries=places&callback=init_map" async defer></script>
<title>Gerenciar</title>
{% endblock %}

{% block menu %}
    <li><a href="/">Cadastrar ocorrência</a></li>
    <li><a href="/signup">Cadastrar usuário</a></li>
    <li><a href="/charts">Gráficos</a></li>
    <li class='menu_right'><a href="/logout">Logout</a></li>
{% endblock %}

{% block messagebox %}
{% if message %}
<div id="messagebox">
<p>
    {{message}}
</p>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if admin and (employees | len) %}
<div>
    <table>
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Admin</th>
                <th>Aprovar</th>
            </tr>
        </thead>
        <tbody>
            {% for e in employees %}
            <form action="approve"  method="GET">
                <input class='hide' name="pk" value="{{e.pk}}">
                <input class='hide' name="CPF" value="{{e.CPF}}">
                <tr>
                    <td>{{e.CPF | format_CPF}}</td>
                    <td>{{((e.name | e) | name_or_input) | safe}}</td>
                    <td>{{e.is_admin | bool}}</td>
                    <td><input type='submit' value='' class='approve'></td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Protocolo</th>
                <th>CPF</th>
                <th>Ocorrência</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Local</th>
                <th>Status</th>
                <th>Feedback</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for oc in occurrences %}
            <tr>
                <td>{% if (oc.date | to_date) >= (occurrences_date_range | to_date) %}<div class='alert' title='Ocorrendo agora!'></div>{% endif %}</td>
                <td>{{oc.protocol_number}}</td>
                <td>{{oc.CPF | format_CPF}}</td>
                <td>{{oc.occurrence.name}}</td>
                <td>{{oc.name | limit_size}}</td>
                <td>{{oc.date}}</td>
                <td>{{oc.description | limit_size}}</td>
                <td>{{oc.location.place_name | limit_size}}</td>
                <td>{{oc.status}}</td>
                <td>{{(oc.feedback | optional) | limit_size}}</td>
                <td><a style="outline: none" href="occurrence?protocol={{oc.protocol_number}}&CPF={{oc.CPF}}"><div class='edit'></div></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <div id="map"></div>
</div>
{% endblock %}
